.sidebar {
    position: fixed;
    top: 127px;
    left: 0;
    width: 200px;
    height: calc(100vh - 127px); /* Adjust height accordingly */
    background-color: #001F3F;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    float:left;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.sidebar ul li {
    margin: 12px 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 3px;
    width: 90%; 
    text-align: center; 
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    background-color: #ddd;
    color: black;
    width: 90%;
}

.active-container { 
    display: flex; /* Show the active container */ 
}

.container h3{
    font-size: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    background-color: #f4f4f4; 
    padding: 10px; 
    margin-left: 240px; 
}

.image-container div {
    width: 48%; 
    margin-bottom: 20px; 
    background-color: #e0e0e0; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.image-container img {
    width: 95%; 
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
    height: 350px; 
    object-fit: cover; /* Ensure image fits within the set dimensions */
}

.image-container p {
    text-align: center; 
    margin-top: 10px;
    font-weight: bold;
}

/* Add scroll margin for the linked sections */
#starters, #pizza_pasta, #main_courses, #desserts, #Cakes_Pastries, #Chilled_Treats, #beverages {
    scroll-margin-top: 180px; /* Adjust the scroll margin as needed */
}


@media (max-width: 770px) {
     .image-container {
         margin-left: 0;  
         justify-content: center;  
        } 
        .image-container div {
             width: 100%;
         
            }
              .sidebar {
                 position: fixed; 
                 width: 100%; 
                 left: 0; 
                 height: 180px; 
                 box-shadow: none; 
                 z-index: 1000;
                } 
                .sidebar ul { 
                    flex-direction: row; 
                    justify-content: space-around; 
                
                } 
                .sidebar ul li { 
                    border: none; 
                } 
                .sidebar ul li a:hover, .sidebar ul li a.active {
                    background-color: #ddd;
                    color: black;
                    width: 90%;
                }
                
                .active-container { 
                    display: flex; /* Show the active container */ 
                
                }
                
                .container h3{
                    font-size: 25px;
                }

    /* Add scroll margin for the linked sections */
       #starters, #pizza_pasta, #main_courses, #desserts, #Cakes_Pastries, #Chilled_Treats, #beverages {
        scroll-margin-top: 380px; /* Adjust the scroll margin as needed */
    }
            }     
    
@media screen and  (max-width: 480px) {

    .sidebar {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 7px;
        height: 140px;
    }
    .sidebar ul{
        margin: 0;
        height: 50px;
        justify-content: center;
        padding-bottom: 0;
        font-size: 12px;
    }

    .sidebar a:not(:last-child) {
        border-right: 1px solid white; 
    }

    .sidebar ul li a {
        width: 100%; 
        text-align: center; 
        padding: 3px;
    }
    

    .image-container { 
        margin-left: 0; 
        justify-content: center;
     
     }
    .image-container div {
         width: 100%; 
        
        }  
}
        

